<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<!-- /Head -->

<body class="bg-dark">
    <!-- Header -->
    <%- include('../partials/navbar') %>
    <!-- /Header -->
    <section class="jumbotron  bg-dark text-dark">
        <div class="card mb-3">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-7">
                        <span class="badge badge-danger my-lg-3"><%= course.categoryCourse.name %></span>
                        <h3 class="card-title"><%= course.name %></h3>
        
                        <p class="card-text"><small class="text-muted"><%= course.teacher %></small></p>
        
                        <p class="card-text text-justify"><%= course.shortDescription %></p>
                        <hr>
                        <p class="card-text text-justify"><%= course.description %></p>

                    </div>
                    <div class="col-md-5 align-content-end">
                        <% if(course.image != ''){ %>
                            <img src="/images/products/<%=course.image%>" width="100%" alt="<%=course.image%>">
                        <%}else{ %>
                            <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="<%=course.image%>">
                        <%}%>
                    </div>
                </div>

                
            </div>
            <div class="card-footer text-muted text-center alert alert-dark  my-lg-0" role="alert">
                <h3 class="alert-heading">$ <%= course.price %>  </h3>
                <!-- <p><%= course.discount %>% OFF</p> -->
                <h4> <span class="display-4 badge badge-success"> <%= course.discount %>% OFF </span></h4>
                <% if (!owner) { %>
                    <% if (obtained) { %>
                        <a class="btn btn-outline-primary col-md-2 m-1" target="_blank" href="https://<%= course.link %>">Ya es tuyo!, disfrútalo</a>
                    <% } else {%>
                        <form action="/cart/add/<%= course.id %>" method="POST" class="row justify-content-center btn-group-lg p-2">
                            <input type="submit" class="btn btn-success col-md-4 m-1" value="Agregar al carrito">
                        </form>
                    <% }%>
                <% }%>
                <% if (logSuccess && owner) { %>
                    <hr>
                    <form action="/courses/delete/<%=course.id%>?_method=DELETE" method="POST" class="row justify-content-center btn-group-xs p-2">
                        <a href="/courses/<%= course.id %>/edit" class="btn btn-outline-primary col-md-2 m-1">Editar curso</a>
                        <input type="submit" class="btn btn-outline-danger col-md-2 m-1" value="Eliminar curso">
                    </form>
                <% }%>
                 
        </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') %>
<!-- End footer -->
</body>
</html>
