<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<!-- /Head -->

<body class="bg-dark">
    <!-- Header -->
    <%- include('../partials/navbar') %>
    <!-- /Header -->
    <section class="jumbotron  bg-dark text-dark">
        <div class="card mb-3">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <span class="badge badge-danger my-lg-3"><%= course.category %></span>
                        <h3 class="card-title"><%= course.name %></h3>
        
                        <p class="card-text"><small class="text-muted"><%= course.teacher %></small></p>
        
                        <p class="card-text text-justify"><%= course.description %></p>
        
                        <ul>
                            <li>Caracteristica 1</li>
                            <li>Caracteristica 2</li>
                            <li>Caracteristica 3</li>
                            <li>Caracteristica 4</li>
                            <li>Caracteristica 5</li>
                            <li>Caracteristica 6</li>
                            <li>Caracteristica 7</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="https://via.placeholder.com/350x150">
                    </div>
                </div>

                
            </div>
            <div class="card-footer text-muted text-center alert alert-dark  my-lg-0" role="alert">
                <h3 class="alert-heading">$ <%= course.price %>  </h3>
                <p><%= course.discount %>% OFF</p>
                <form action="/carrito/create/<%= course.id %>" method="POST" class="row justify-content-center btn-group-lg p-2">
                    <input type="submit" class="btn btn-success col-md-4 m-1" value="Agregar al carrito">
                    <input type="button" class="btn btn-outline-success col-md-4 m-1" value="Compralo ahora">
                </form>
                <hr>
                <form action="/courses/delete/<%=course.id%>?_method=DELETE" method="POST" class="row justify-content-center btn-group-xs p-2">
                <a href="/courses/detail/modify/<%= course.id %>" class="btn btn-outline-primary col-md-2 m-1">Editar curso</a>
                    <input type="submit" class="btn btn-outline-primary col-md-2 m-1" value="Eliminar curso">
                </form>
        </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') %>
<!-- End footer -->
</body>
</html>
