<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" height="30" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <form class=" navbar-nav mr-auto my-lg-0 mx-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            
            <ul class="navbar-nav mr-auto">
                <form method="POST" action="/courses/search">
                    <div class="input-group input-group-sm  m-1 mr-2">
                        <input type="text" name="search" class="form-control" placeholder="¿Que deseas aprender?" aria-label="¿Que deseas aprender?" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-success" type="button" id="button-addon2">Buscar</button>
                        </div>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="btn btn-outline-success btn-sm m-1 ml-2" href="/courses">Todos nuestros cursos! <span class="sr-only">
                </span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (!logSuccess) { %>
                    <li class="nav-item mr-md-1">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-outline-warning" href="/cart">Carrito</a>
                            <a class="btn btn-outline-light col-sm-12" href="/users/signin">Regístrate <span class="sr-only">(current)</span></a>
                            <a class="btn btn-outline-light col-sm-12"  href="/users/login">Ingresar<span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="nav-item mr-md-1">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-outline-light" href="/courses/create">Publica tu curso <span class="sr-only">(current)</span></a>
                            <a class="btn btn-outline-warning" href="/cart">Carrito</a>
                        </div>
                    </li>

                    <li class="nav-item dropleft">
                        <a class="btn btn-outline-light dropdown-toggle btn-sm m-1 ml-2" href="#" role="button" id="option-session" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= userLoged.user %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% if (userLoged.image) { %>
                                <a href="#" class="dropdown-item align-content-center">
                                    <div class="col-sm-12 col-xs-6">
                                        <img src="/images/users/<%=userLoged.image%>" width="100%" class="rounded-circle" alt="<%=userLoged.image%>">
                                    </div>
                                </a>
                                <hr>
                            <% } %>
                            <% if (userLoged.completed) { %>
                                    <a class="dropdown-item" href="/users/modify/<%= userLoged.id %>">Modifica tu perfil <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="dropdown-item" href="/users/completeUser/<%= userLoged.id %>">Completá tu perfil <span class="sr-only">(current)</span></a>
                            <% } %>
                            <a class="dropdown-item" href="/users/modifyPassword/<%= userLoged.id %>">Cambiar contraseña</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <form class="form-inline" action="/users/logout" method="POST">
                                    <button class="btn btn-outline-danger col-sm-12 my-2 my-sm-0" type="submit">Salir</button>
                                </form>
                            </a>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>