<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carrito</title>
        <link rel="stylesheet" href="/stylesheets/modern-normalize.css" />
        <link rel="stylesheet" href="/stylesheets/style-Ian.css" />
        <link rel="stylesheet" href="/stylesheets/carrito.css" />
    </head>

    <body>
        <!-- Header -->
        <%- include('partials/navbar') %>
        <!-- /Header -->
        <section class="hero">
            <div class="ccero">
            <h1 class="hero"> /Carrito</h1>
            <div class="cdiez"><h2>3 cursos en el carrito</h2></div>
            <div class="cuno">
            <div class="cdos">
                <div class="beta">
            <% courses.forEach(courses=>{%>
            <article class="ctres">


                <div class="cnueve">
                    <img src="/images/curso1.png">
                </div>
                    <div class="ccinco">
                        <p><%=courses.name%></p>
                <p class="ctexto">
                    <%=courses.description%></p>
                </div>
                <div class="csiete">
                    <div class="cocho">
                        <p class="pnewprice"><%=(courses.price)-((courses.price)*(courses.discount))/100%></p>
                        <p><%=courses.discount%> OFF</p>
                    </div>
                    <div class="seis">
                        <form action="/carrito/<%=courses.id%>?_method=DELETE" method="post"><button class="csavedelete" type="submit">ELIMINAR</button></form>
                        <button class="csavedelete" href="asd">GUARDAR PARA DESPUÉS</button>
                    </div>
                </div>
                  
            </article>
            <%})%>
                </div> 
            
            <article class="ccuatro">
                    <p class="ctotal">TOTAL:</p>
                    <p class="ctotalnumber">$9999.99</p>
                    <p class="cdiscount">$10000</p>
                <div class="cdiscountp">
                    <p>    0.1% de descuento</p>
                </div>
                    <form action="/carrito/buy" method="post"><button class="cbutton" href="ruta">PAGAR</button><br></form>
                <div class="cdiscountalign">
                    <input class="cinsertd" type="text" name="disscount" id="disscount" placeholder="INTRODUCIR EL CUPON">
                    <button class="capplyd" href="ruta"><p>APLICAR</p></button>
                </div>
                </article>
            </div>
        </section>
        <%- include('partials/footer') %>
    </body>
</html>
