<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %>
<!-- /Head -->

<body class="bg-dark">
    
    <!-- Header -->
	<%- include('partials/navbar') %>
    <!-- /Header -->
    
    <!-- Hero section -->
    <section>
        <div class="jumbotron bg-dark text-white">
            <!-- <div class="row text-center">
                <h3>La formación profesional en tecnología es cada vez más importante</h3>
            </div> -->
            <div class="row">
                <div class="col-sm-6">
                    <img  class="figure-img img-fluid rounded card-img-top" src="https://placedog.net/300/150?random" alt="" srcset="">
                </div>
                <div class="col-sm-6">
                    <h3> <span class="badge badge-success display-3"> 70% </span> de los graduados de Cursitos consiguen un empleo en el término de un año</h3>
                    <h3> <span class="display-3 badge badge-success"> 30% </span> crean su propia empresa de tecnología o startup</h3>
                    <hr>
                    <p>Aprendé con nosotros lo ultimo en tecnología, para hacer crecer tu hobbie o formarte profesionalmente</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin hero section -->

    <!-- Main -->
    <section class="jumbotron">
        <h1 class="display-6">¿Que deseas aprender?</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <ul class="nav justify-content-center my-lg-3">
            


            <li class="nav-item">
              <a class="nav-link active" href="#">Todos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Programacion front-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Programacion back-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marketing Digital</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edición multimedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">inversiones</a>
            </li>
        </ul>
        <section class="row row-cols-1 row-cols-md-5">
            

            <% courses.forEach(course=>{%>
            <div class="col mb-3" onclick="location.href='/courses/detail/<%=course.id%>'">
                <div class="card text-white bg-dark mb-3" style="min-height: 20rem;">
                    <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="<%=course.image%>">
                    <div class="card-body">
                        <h5 class="card-title"><%=course.name%></h5>
                        <p class="card-text"><%=course.description%></p>
                    </div>
                </div>
            </div>
            <%})%>
        </section>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- End footer -->


</body>

</html>